@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-VariableFont_wght.ttf");
}

body{
    font-family: Raleway;
    color:#BEE8D9;
    background-color: #222;
}

main{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 94vw;
    min-width: 800px;
    background-color: #008260;
    padding: 1vw;
}

header{
    display: flex;
}

header h1{
    flex:1;
}

header span{
    vertical-align: middle;
    line-height: 7vh;
}

#demo{
    display: flex;
    flex-flow: row wrap;
}

#setting_volume{
    -webkit-transform:rotate(90deg);
    transform: rotate(90deg);
}

#controls{
    right:0px;
    display:flex;
}

#info{
    flex:1;
}

#difficulty{
    width: 8vw;

}

span#mode span {
    margin-left: 2vw;
}

#difficulty label{
    display: block;
    font-size: larger;
}

button.frqButton{
    background-color: #fff;
    border: 1px solid #416396;
    margin: 4px;
    width: 2.5vw;
    flex:1;
    height: 10vh;
    flex-basis: auto;
    padding: 5px;
}

button.frqButton:hover{
    background-color: #36454F;
    color:#BEE8D9;
    /*background-color:#416396;*/
}

#menu{
    background-color: #416396;
    width: 15vw;
    position: absolute;
    right: 1vw;
    top: 5vh;
    z-index: 1000;
    box-shadow: 2px 2px 4px #222;
    padding: 10px;
}

.menuShow{
    display: visible;
    transition: all 1s ease-in-out;
}

.menuHide{
    display: none;
    transition: all 1s ease-in-out;
}

.closeX{
    cursor: pointer;
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
    display: block;
}

#startButton{
    padding: 25px;
    text-align: center;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #36454F;
    transition: 500ms;
    cursor: pointer;
}

#startButton:hover{
    transition: 500ms;
    background-color: #345d79;

}